.line {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin-bottom: -30px;
}

.imgSize {
    width: 250px;
    height: 250px;
}

.marginBottomZero {
    margin-bottom: -20px;
}